* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1E88E5;
    --secondary-color: #00ACC1;
    --bg-color: #37474F;
    --dark-color: #0f172a;
    --light-color: #e2e8f0;
    --white: #ffffff;
    --black: #000000;
    --transparent: #ffffff1a;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    width: 100vw;
    overflow-x: hidden;
}

/* Mobile First */
header{
    width: 100vw;
    display: none;
}

.profile-photo {
    aspect-ratio: 1/1;
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--secondary-color);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

main h1 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
}

main p {
    font-size: 1.5rem;
    color: var(--light-color);
    font-weight: 200;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.about h2 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.about p {
    color: var(--light-color);
    letter-spacing: 0.2ch;
    border: 1px solid var(--transparent);
    border-radius: 5px;
    padding: 1rem;
}

.projects {
    width: 90vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.project-cards {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-self: center;
    align-self: center;
}

.projects h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid var(--transparent);
    border-radius: 1rem;
}

.card img {
    filter: blur(1px);
    border-radius: 1rem 1rem 0 0;
    border: 1px solid var(--transparent);
    aspect-ratio: 3/2;
    height: auto;
    width: 300px;
    object-fit: cover;
}

.card h3 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    padding: 0 1rem;
}

.card p {
    color: var(--light-color);
    font-size: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.contact {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.contact h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.contacts-links {
    display: flex;
    gap: 1rem;
    background-color: var(--transparent);
    padding: 1rem;
    border-radius: 5px;
}

.contacts-links a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}

#linkedin a {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%230077B5' viewBox='0 0 24 24'><path d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.04-1.852-3.04-1.853 0-2.136 1.445-2.136 2.939v5.67H9.352V9h3.414v1.561h.049c.476-.9 1.637-1.852 3.372-1.852 3.605 0 4.27 2.373 4.27 5.459v6.284zM5.337 7.433a2.062 2.062 0 110-4.124 2.062 2.062 0 010 4.124zM6.815 20.452H3.857V9h2.958v11.452z'/></svg>");
    background-size: cover;
}

#github a {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23181717' viewBox='0 0 24 24'><path d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12z'/></svg>");
    background-size: cover;
}

#whatsapp a {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%2325D366' viewBox='0 0 24 24'><path d='M12 .5C5.648.5.5 5.648.5 12c0 2.117.552 4.173 1.598 5.994L.5 23.5l5.646-1.565A11.43 11.43 0 0012 23.5c6.352 0 11.5-5.148 11.5-11.5S18.352.5 12 .5zm0 21c-1.83 0-3.61-.497-5.158-1.437l-.37-.222-3.353.93.93-3.353-.222-.37A9.448 9.448 0 012.5 12c0-5.238 4.262-9.5 9.5-9.5s9.5 4.262 9.5 9.5-4.262 9.5-9.5 9.5zm5.28-7.102c-.29-.145-1.71-.843-1.976-.938-.266-.099-.46-.145-.655.145-.19.285-.75.938-.918 1.128-.17.19-.34.213-.63.072-.29-.145-1.225-.45-2.333-1.43-.86-.765-1.44-1.71-1.61-2-.17-.285-.018-.44.127-.585.13-.13.29-.34.436-.51.145-.17.193-.29.29-.48.097-.19.048-.36-.024-.51-.072-.145-.654-1.57-.897-2.154-.236-.567-.477-.49-.654-.497-.17-.007-.363-.007-.556-.007-.193 0-.51.073-.777.363-.266.285-1.02.997-1.02 2.43 0 1.433 1.043 2.82 1.188 3.013.145.19 2.055 3.137 4.977 4.4.696.3 1.238.48 1.662.615.698.223 1.335.192 1.837.117.56-.083 1.71-.7 1.95-1.377.236-.67.236-1.243.166-1.377-.073-.135-.266-.215-.556-.36z'/></svg>");
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent);
    color: var(--light-color);
    font-size: 0.75rem;
    padding: 0.25rem 0.25rem;
}

@media screen and (min-width: 738px) {
    header {
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--transparent);
        width: 100vw;
        z-index: 10;
    }

    .header-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        padding: 0.5rem 0;
    }

    .header-menu li a {
        text-decoration: none;
        color: var(--white);
        font-weight: 700;
        transition: 0.2s ease;
    }

    .header-menu li a:hover {
        text-shadow: 0px 2px 4px var(--secondary-color);
        transition: 0.2s ease;
    }
}